{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended"],
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      120
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "linebreak-style": 0,
    "import/no-amd": 0,
    "no-continue": 0
  }
}