language: node_js
services:
  - mongodb

cache:
  directories:
    - node_modules

node_js:
  - "8"
  - "10"

before_script:
  - "sudo pip install -U pip"
  - "cd python/webgme_bindings"
  - "sudo pip install -e ."
  - "npm install webgme-engine"

script:
  - "npm run test"